body{
    background-color: #471e39;
    font-family: 'Source Sans Pro', sans-serif;
}
h2{
    font-family:  'Lato', sans-serif;
}
.nameofshop{
    text-align: center;
    color: palevioletred;
    font-size: 25px;
    margin-left: 26px;
}
.login{
    border: 2px solid black;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    width: 25em;
    height: 60px;
    margin-left: 561px;
    /* border-bottom-color: gray; */
    background-color: gray;
    color: white;
}
.form{
    border: 2px solid black;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
    width: 25em;
    height: 205px;
    margin-left: 561px;
    /* border-top-color: gray; */
}
.container1{
    margin-top: 30px;
    margin-left: 28px;
    font-size: 23px;
    color: white;
}
#Email{
    width: 190px;
    margin-bottom: 14px;
    height: 24px;
    margin-left: 25px;
    padding-left: 12px;
    border-radius: 14px;
}
.container2{
    margin-top: 10px;
    font-size: 23px;
    color: white;
}
#Password{
    width: 190px;
    margin-bottom: 14px;
    height: 24px;
    margin-left: 25px;
    padding-left: 12px;
    border-radius: 14px;
}
.container3{
    margin: 10px 0px 0px 17px;
}
#btn{
    width: 80px;
    height: 30px;
    border-radius: 14px;
    font-size: initial;
}
#btn:hover{
    background-color: gray;
    color: white;
}
