.row{
    border: 2px solid black;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 24px;
    width: 934px;
    margin-left: 315px;
    height: 56px;
    border-radius: 4px;
    padding: 4px;
}
.row h1 {
    padding: 10px;
}
table{
    color: black;
    text-align: center;
    margin-top: 17px;
    width: 934px;
    margin-left: 315px;
    height: 56px;
    font-size: 20px;
    background-color: white;
}
table th{
    border-top: none;
    border-left: 2px solid gainsboro;
    /* border-right: 4px solid black; */
    border-bottom: 2px solid gainsboro;
}
.data td{
    border-top: none;
    border-bottom: 2px solid gainsboro;
    padding: 10px 0px 10px 0px;
}
td{
    border-left: 2px solid gainsboro;
    border-top: none;
    border-bottom: 2px solid gainsboro;
    padding: 10px 0px 10px 0px;
    text-align: center;
}
body a{
    text-decoration: none;
}
body a :hover{
    color: red;
    text-decoration: underline;
}
.btn{
    padding: 5px;
    border-color: red;
    /* color: white */
}
button{
        background-color: red;
}

