@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}
body{
   background-color: #eeeeee;
}

header {
    background-color: #8b008b;
    height: 42px;
    padding-top: 25px;
    /* border-bottom:1px solid black; */
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 450;
}

nav ul li {
    display: inline;
    list-style: none;
    padding: 6px;
}

nav ul {
    margin-left: 1045px;
}

nav ul li a:hover {
    font-weight: bolder;
}
.image1{
   position: relative;
   bottom: 37px;
   left: 38px;
   width: 73px;
}
 .container1{
    background-color: #eeeeee;
    /* border: 2px solid black; */
    height: 456px;
    display: grid;
    grid-template-columns: 344px 344px 344px;
    grid-template-rows: 226px;
    grid-gap: 13px 44px;
    justify-content: center;
    align-items: center;
 }
 .menu{
    /* border: 2px solid black; */
    /* width: 240px;
    height: 216px; */
    background-color: white;
 }
 .menu p{
   text-align: center;
}
.menu p a{
   text-decoration: none;
   color: black;
   font-size: 20px;
 }
 .menu img{
    height: 151px;
    padding-left: 102px;
}
.container3{
   background-color: black;
   color: white;
   height: 344px;
   display: grid;
   grid-template-columns: auto auto auto auto auto;
   font-family: 'Mulish', sans-serif;
}
.about{
   margin-left: 246px;
}
.container3 p{
   width: 293px;
   margin-top: 13px;
}
.container3 h4{
   margin-top: 23px;
}
.about p{
   color: gray;
}
.about a{
   color: red;
   text-decoration: none;
}
.about p a:hover{
   color: white;
}
.logo img{
   position: relative;
   top: 18px;
   left: 335px;
   width: 73px;
}
.about1 ul li{
   list-style: none;
   padding-top: 14px;
   margin-top: 2px;
}
.about1 ul li a{
   text-decoration: none;
   color: gray;
}
footer{
   height: 40px;
}
footer p{
   margin-top: 20px;
   text-align: center;
}
 